<!-- ! + tab-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, {{ city }}</h1>
    <p>{{ fruits }}</p>
    <p>{{ fruits[1] }}</p>
    <ul>
        {% for bullet in bullets %}
            {% if loop.index % 3 != 0 %}
            <li>{{ bullet, loop.index }}</li>
            {% endif %}
        <!--loopが回ってる中で何個かわかる-->
        {% endfor %}
    </ul>
    
</body>
</html>